/* Этот стиль будет подгружаться автоматически для того, чтобы не прописывать всё время одно и то же */


/* Советую просто просмотреть его 1 раз, а затем идти в стиль, который прогружается после этого */

.default-text-margin {
    font-family: "Fira Code", "Inconsolata", "Ubuntu", "Times New York", monospace;
    margin: 2%;
}

.default-text {
    font-family: "Fira Code", "Inconsolata", "Ubuntu", "Times New York", monospace;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Inconsolata", "Ubuntu", "Times New York", monospace;
    text-align: auto;
    margin: 20px;
    text-transform: uppercase;
}

.default-image {
    width: 750px;
}
