createdAt: "2020-01-18T09:53:56.523Z"
updatedAt: "2020-01-18T09:54:25.022Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "Изучение HTML"
tags: [
  "css"
  "html"
  "js"
  "web"
]
content: "# Изучение HTML"
linesHighlighted: []
isStarred: false
isTrashed: false
