createdAt: "2020-01-18T18:58:47.082Z"
updatedAt: "2020-01-18T19:08:49.014Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "3. Списки"
tags: [
  "html"
]
content: '''
  # 3. Списки
  Списки в html представляют из себя тег `<ul></ul>` или `<ol></ol>` c вложенными в них элементами `<li></li>`
  
  `<li></li>` - базовая единица списка (*list*)
  
  `<ol></ol>` - нумеруемый список (*ordered list*)
  
  `<ul></ul>` - ненумерыемый список (*unorderer list*)
  
  Пример:
  
  ```html
  <ul> <!-- unorderer list -->
    <li>Первый элемент <em>ненумеруемого списка</em></li>
    <li>Второй элемент <em>ненумеруемого списка</em></li>
  </ul>
  
  
  <ol> <!-- orderer list -->
    <li>Первый элемент <em>нумеруемого списка</em></li>
    <li>Второй элемент <em>нумеруемого списка</em></li>
  </ol>
  ```
  
  [Исходный код этого урока](https://github.com/Username77177/WebLearning/blob/master/htmlsource/3.Lists.html)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
