createdAt: "2020-01-19T06:51:14.060Z"
updatedAt: "2020-01-19T07:12:47.171Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "6. Основные атрибуты CSS"
tags: []
content: '''
  # 6. Основные атрибуты CSS
  
  ## Объявление CSS отдельным файлом
  Часто, для того чтобы не перемешивать весь код в одном файле файл с форматом .css создают отдельно, а в файле .html создают ссылку на файл таблицы стилей
  
  
  ```html
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Атрибуты CSS</title>
      <link rel="stylesheet" href="css/css_attr.css"> <!-- Объявление файла со стилями-->
  </head>
  ```
  
  `rel` - relationship, то есть чем является этот файл для документа
   
   С помощью тега `<link>` мы можем подключать таблицы стилей **CSS**, сценарии **JS** и другое
   
   ## Основные атрибуты CSS
   
   Попробуем сделать что-то на практике. Наример, нам нужно раскрасить текст:
   
  (*HTML желательно отобразить в браузере, а не смотреть его в документе. В браузере файл CSS отделён отдельно, тут же все стили в теге `<style></style>`*)
  
  [Ссылка на файл HTML этого урока](https://github.com/Username77177/WebLearning/blob/master/htmlsource/6.CSS_attr.html)
  
  [Ссылка на файл CSS этого урока](https://github.com/Username77177/WebLearning/blob/master/htmlsource/css/css_attr.css)
   
  ```html
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Атрибуты CSS</title>
      <style>
      .senior /*Комментарии тут пишутся вот так*/
      { /*`.класс` `#идентификатор`, как и раньше*/
        color: red; /* Меняет цвет текста */
      }
      </style>
    </head>
    <body>
      <p class="senior">Какой-то текст</p>
    </body>
  </html>
  ```
  
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Атрибуты CSS</title>
      <style>
      .senior /*Комментарии тут пишутся вот так*/
      { /*`.класс` `#идентификатор`, как и раньше*/
        color: red; /* Меняет цвет текста */
      }
      </style>
    </head>
    <body>
      <p class="senior">Какой-то текст</p>
    </body>
  </html>
'''
linesHighlighted: []
isStarred: false
isTrashed: false
