createdAt: "2020-01-18T12:53:50.408Z"
updatedAt: "2020-01-18T19:07:29.696Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "Проекты, которые я хочу сделать по мере обучения"
tags: [
  "web"
]
content: '''
  # Проекты, которые я хочу сделать по мере обучения
  
  ## Математический сайт
  
  **Темы, которые нужны для создания:**
  
  * Анимация CSS или JS
  * Flexbox
  
  **Краткое описание:**
  
  Главная сайта оформлена блоком. Переливающийся фон градиентом на заднем плане. На переднем плане большим шрифтом текст, о легком обучении. Ссылка, которая ведёт в другой файл под текстом. В другом файле сайд-меню с темами по математике. Оформление второго сайта черно-белое с технологиями $\\KaTeX$
'''
linesHighlighted: []
isStarred: false
isTrashed: false
