createdAt: "2020-01-19T09:08:06.497Z"
updatedAt: "2020-01-19T11:57:29.792Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "7. Отступы"
tags: [
  "css"
  "html"
  "web"
]
content: '''
  # 7. Отступы
  
  ## Свойства `margin` и `padding`
  
  Для отступов в **CSS3** есть 2 свойства:
  
  * `margin`
  * `padding`
  
  ### `margin`
  **Margin** - отступ от границ элемента до внешних элементов. Изменяя это свойство, мы *не будем затрагивать внутреннюю структуру блока*, а будем менять расстояние, от блока до других
  
  `margin` - отступ от всего сайта (внешний)
  
  Свойство `margin` задаёт расстояние между границей элемента (рамкой) и окружающими элементами.
  ### `padding`
  **Padding** - отступ внутри блока. Он никак не действует на расстояние между блоками, и работает только *внутри* блока
  
  `padding` - отступ элементов от содержимого в данном блоке
  
  Свойство `padding`задаёт расстояние между содержимым элемента и его границей (рамкой)
  
  ## Примеры кода
  
  ```css
  .text
  {
    border: 5px solid gray;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 10px;
  }
  ```
  
  Также как `margin` так и `padding` может задаваться видом `clockwise`
  
  ```css
  .text
  {
    margin: 10 5 10 5;
    /* То же самое что и вверху
    Задание отступов идёт по часовой стрелке (вверх, вправо, вниз, влево)*/
    padding: 20 10 20 10;
    /* Так же могут быть заданы и интервалы (отступы внутри) */
  }
  ```
  
  [Ссылка на файл CSS этого урока](https://github.com/Username77177/WebLearning/blob/master/htmlsource/css/boxes_in-css.css)
  
  [Ссылка на файл HTML этого урока](https://github.com/Username77177/WebLearning/blob/master/htmlsource/7.Marging_and_padding.html)
  
  В HTML полностью описана работа `margin` и `padding`. Советую поиграть со значениями, так осознание приходит чуть побыстрее.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
