createdAt: "2020-01-19T09:08:06.497Z"
updatedAt: "2020-01-19T09:31:12.657Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "7. Отступы"
tags: []
content: '''
  # 7. Отступы
  
  ## Свойства `margin` и `padding`
  Для отступов в **CSS3** есть 2 свойства:
  
  * `margin`
  * `padding`
  
  `margin` - отступ от всего сайта (внешний)
  
  `padding` - отступ элементов от содержимого в данном блоке
  
  Свойство `margin` задаёт расстояние между границей элемента (рамкой) и окружающими элементами.
  
  Свойство `padding`задаёт расстояние между содержимым элемента и его границей (рамкой)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
