createdAt: "2020-01-19T17:53:48.043Z"
updatedAt: "2020-01-19T17:55:09.283Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "9.Применение знаний разметки"
tags: []
content: '''
  # 9.Применение знаний разметки
  
  [Этот раздел также можно найти на FreeCodeCamp](https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/create-visual-balance-using-the-text-align-property)
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
