createdAt: "2020-01-18T18:15:31.399Z"
updatedAt: "2020-01-18T18:35:33.109Z"
type: "MARKDOWN_NOTE"
folder: "32a2e213603400f3850a"
title: "2. Классы, идентификаторы, якори"
tags: [
  "html"
  "web"
]
content: '''
  # 2. Классы, идентификаторы, якори
  Знаний из предыдущего урока уже достаточно, чтобы объяснить что такое *класс* и id (*идентификатор*).
  
  По сути *класс* и *id* ничем не разнятся, покуда это не касается PHP или JS
  
  **Якорь** - ссылка на внутренний элемент
  
  Пример: (**Код специально упрощен, он записан *без* тегов head, body, html и всех остальных, далее в примерах будет так же**)
  
  ```html
  <a href="#kitty">Кошка</a>
  <img id="kitty" src="../htmlsource/img/kitty.jpg">
  ```
  
  Как мы видим, тут задан **идентификатор**
  
  Далее будет код, где проделано то же самое, однако вместо **id**, мы используем **класс**
  
  ```html
  <a href=".kitty">Кошка</a>
  <img class="kitty" src="../htmlsource/img/kitty.jpg">
  ```
  
  При переходе по ссылке, мы попадём в фрагмент страницы с тегом содержащим этот *класс* или *идентификатор*
  
  `.название_класса` - указывает на класс
  
  `#название_идентификатора` - указывает на идентификатор
  
  *Классу* может принадлежать множество тегов. *Идентфикатору* тоже может принадлежать множество элементов, однако принято, чтобы тег с уникальным идентификатором был **1** (*идентификатор не повторялся*).
  
  [Исходный код для этого урока, который лучше разобрать](https://github.com/Username77177/WebLearning/blob/master/htmlsource/2.Class_id_anchor)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
